* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: none;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
}

.navbar-container {
  width: 100%;
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.1rem 6.25rem;
  background-color: #fff;
  z-index: 100;
}
.navbar-left-icon {
  /* padding-left: 6.25rem; */
}
.navbar-right-icon {
  display: flex;
  /* padding-right: 6.25rem; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navbar-items {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 12px;
}
.navbar-items p {
  /* font-family:poppins; */
  font-size: 1rem;
  line-height: 1.31rem;
  font-weight: 400;
  color: #535353;
}
.home p {
  text-decoration: underline;
  text-decoration-color: #ffa300;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2em;
}
.login p {
  color: #ffa300;
}
.product {
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  flex-shrink: 0;
}

.request-demo {
  font-size: 1rem;
  background: #ffa300;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  border-style: none;
  padding: 0.825rem 2rem;
  flex-shrink: 0;
}
